# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.user
build-*-Debug/
build-*-Release*/

*.orig

version.h
/build/cmake/
/build/output/

# clion
.idea/
cmake-build-debug/
cmake-build-release/

# codelite
/build/codelite/debug/
/build/codelite/release/
/build/codelite/.codelite/
/build/codelite/.clang/

script_engine/c_api_toluapp/c_api_toluapp.cpp
script_engine/c_api_toluapp/c_api_toluapp.h
